header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 0.3rem solid red;
}
header img {
  height: 3rem;
  display: flex;
}
header button {
  all: unset;
  color: black;
  padding-left: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
}
