header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 0.3rem solid red;
}
header img {
  height: 3rem;
  display: flex;
}
header button {
  all: unset;
  color: black;
  padding: 0.5rem;
  font-size: 1.2rem;
}
