body {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  border-left: 2rem red solid;
  border-right: 2rem red solid;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 2rem 0;
  text-align: center;
}
/************************CSS POKEMONS***********************/
.main-pokemons,
.main-types {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.pokemons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.pokemon {
  border: 2px black solid;
  border-radius: 5px;
  margin: 0.5rem;
}
.pokemon p {
  padding-top: 0.5rem;
  text-align: center;
  font-weight: 600;
}
/**********************CSS TYPES***********************/

.types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.type {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px black solid;
  border-radius: 0.8rem;
  margin: 0.5rem;
  width: 5rem;
  font-weight: 600;
  padding: 1rem;
  margin: 1rem;
}

/************************CSS POKEMON***********************/
.main-allTypesPokemon {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.div-allTypesPokemon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.allTypesPokemon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px black solid;
  border-radius: 0.8rem;
  margin: 0.5rem;
  width: 3rem;
  font-weight: 600;
  padding: 0.5rem;
}
