body {
  box-sizing: border-box;
  border-left: 2rem red solid;
  border-right: 2rem red solid;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.main-pokemons {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pokemons {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.pokemon {
  border: 2px black solid;
  border-radius: 5px;
  margin: 0.5rem;
}

.pokemon p {
  padding-top: 0.5rem;
  text-align: center;
  font-weight: 600;
}
.type-div {
  background-color: aqua;
}
.type-p {
  display: flex;
  background-color: red;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  padding: 1rem;
  margin: 1rem;
  border: solid black 2px;
  width: 5rem;
  border-radius: 0.8rem;
}
